development:
  adapter: postgresql
  encoding: unicode
  database: youthconf_development
  pool: 5
  username: <MAC OS X USERNAME>
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: youthconf_test
  pool: 5
  username: <MAC OS X USERNAME>
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: youthconf_production
  pool: 5
  username: <MAC OS X USERNAME>
  password:

config:
  app_id:
  app_secret: