/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.smooth {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: .8s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: .8s;
	-o-transition-property: -o-transform;
	-o-transition-duration: .8s;
	-ms-transition-property: -ms-transform;
	-ms-transition-duration: .8s;
	transition-property: transform;
	transition-duration: .8s;
}