/* index page */
.index {

	.header {
		background-position: center;
		background-repeat: no-repeat;
	}

	.footer {
		text-align: center;
		padding: 30px 0;
		/*margin-top: 70px;*/
		border-top: 1px solid #e5e5e5;
		background-color: #f5f5f5;
	}

	#mapcontainer {
		/*background-color: lightblue;*/
		position: relative;
		height: 500px;
		width: 100%;
		overflow: hidden;
	}

	#map {
		/*background-color: lightgreen;*/
		width: 1000px;
		height: 400px;
		margin: 10px auto;
	}

	#content {
		height: 400px;
		background-color: yellow;
	}

	.smooth {
		-webkit-transition-property: -webkit-transform;
		-webkit-transition-duration: .8s;
		-moz-transition-property: -moz-transform;
		-moz-transition-duration: .8s;
		-o-transition-property: -o-transform;
		-o-transition-duration: .8s;
		-ms-transition-property: -ms-transform;
		-ms-transition-duration: .8s;
		transition-property: transform;
		transition-duration: .8s;
	}

}

/* edit pages */
.edit {

		

}
